/* Styles globaux */

/* Style font */
body {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-weight: 400; /* Regular par défaut */
}

/* title */
h1, h2, h3, h4, h5, h6 {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-weight: 700; /* Bold*/
  color: #ffffff;
}

/* p */
p {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-weight: 300; /* Light */
  color: #dcdcdc;
}

/* Default style for all <a> links */
a {
  font-family: "Encode Sans Semi Expanded", sans-serif; /* Use your chosen font */
  font-weight: 500; /* Medium weight for links */
  color: #00d2f2; /* Custom link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth transitions for hover effects */
  border-bottom: 2px solid transparent; /* Add a bottom border (hidden by default) */
  padding-bottom: 2px;
}

/* Style for <a> links when hovered */
a:hover {
  color: #ffffff; /* Change color on hover */
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul.custom-list {
  list-style-type: none;
  padding-left: 0;
}

li.custom-item {
  padding: 15px;  
  margin-bottom: 10px;
  border: 2px solid #00ddf6;
  border-radius: 10px;
  transition: all 0.5s ease;
  animation: borderColorChange 2s infinite linear;
}

li.custom-item a {
  text-decoration: none;  
  display: block; 
  height: 100%;
  width: 100%;  
  color: #ffffff;            
}

li.custom-item a:hover {
  font-weight: bold;
  color: #00d2f2; /* Optional: Change color on hover */
}

li.custom-item:hover {
  background-color: #000000;
  cursor: pointer;
}

/* Couverture principale */
.cover-container {
  position: relative; /* Le contenu est au-dessus des particules */
  z-index: 1; 
}

/* Customisation des boutons */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Header et navigation */
.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  user-select: none;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; 
}

/* Style de base pour l'animation des sections */
.slide-in-left, .slide-in-right {
  opacity: 0;
  transform: translateX(15px); /* Pour les sections qui viennent de la droite */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.slide-in-left {
  transform: translateX(-15px); /* Pour les sections qui viennent de la gauche */
}

.visible {
  opacity: 1;
  transform: translateX(0); /* Ramène la section à sa position originale */
}

@media (max-width: 768px) {
  .nav {
    margin-top: 10px;
  }
}

@keyframes borderColorChange {
  0% {
    border-color: #ffffff;  /* Start color */
  }
  50% {
    border-color: #00e1ff;  /* Second color */
  }
  100% {
    border-color: #ffffff;
  }
}

/* Nouvelle animation: Fade-in avec un zoom */
@keyframes fadeInScale {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Initial state */
.fade-in-scale {
  opacity: 0;
  transform: scale(0.8); /* Réduit au départ */
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

/* Active state */
.fade-in-scale.visible {
  opacity: 1;
  transform: scale(1); /* Taille normale */
}